<table class="table table-striped align-baseline">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>End Date</th>
            <th>End Time</th>
            <th class="text-end hours-col">Hours</th>
        </tr>
    </thead>
    <tbody>
        {% for time_entry in time_entries %}
            {% include 'timekeeping/partials/time_entry_row.html' with time_entry=time_entry %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th/>
            <th/>
            <th/>
            <th/>
            <th class="text-end">Total Hours: {{ total_hours }}</th>
        </tr>
    </tfoot>
</table>
